<div class="table-responsive">
    <table class="table mb-0">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>PrixProduit</th>
            <th>marque_produit</th>
            <th>categorie</th>
            <th>image</th>
            <th>quantite</th>
        </tr>
        </thead>
        <tbody>
        {% for i in produits %}
        <tr>
            <td>{{i.Id}}</td>
      <td>{{i.NomProduit}}</td>
      <td>{{i.PrixProduit}}</td>
     
      <td>{{i.MarqueProduit}}</td>
      <td>{{i.Categorie}}</td>
       <td>
    {% if i.Image %}
      <img src="{{ asset('uploads/' ~ i.Image) }}" alt="{{ i.NomProduit }}" style="max-height: 100px">
    {% else %}
      No picture
    {% endif %}
  </td>
  <td>{{i.Quantite}}</td>
        </tr>

        {% endfor %}
        </tbody>

</table>
</div>