{% extends 'profile.html.twig' %}


{% block css %}
<head>
  <link href="{{asset('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')}}" rel="stylesheet">

  <link rel="stylesheet" href="{{asset('fonts/icomoon/style.css')}}">

  <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.css')}}">
  <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}">
  <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">

  <link rel="stylesheet" href="{{asset('css/jquery.fancybox.min.css')}}">

  <link rel="stylesheet" href="{{asset('css/bootstrap-datepicker.css')}}">

  <link rel="stylesheet" href="{{asset('fonts/flaticon/font/flaticon.css')}}">

  <link rel="stylesheet" href="{{asset('css/aos.css')}}">

  <link rel="stylesheet" href="{{asset('css/style.css')}}">


</head>
{% endblock %}

{% block body %}
<body>
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="index.html">
              <img src="{{asset('images/logo.png')}}" alt="Logo">
            </a>
          </div>
          
          <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
          
           {% if is_granted('ROLE_ADMIN') %}

                <a href="{{ path('user_list') }}" class="nav-link">Manage Users</a>
                <img src="{{asset('images/admin.png')}}" width="30" height="30"></img> 
                {% endif %}
                {% if is_granted('ROLE_BOBO') %}

                <a href="{{ path('categorie_afficheC') }}" class="nav-link">Manage Products</a>
                <img src="{{asset('images/shop.png')}}" width="30" height="30"></img>
                {% endif %}
                <a class="nav-link"><a href="{{ path('app_logout') }}">Logout</a>
                <img src="{{asset('images/logout.png')}}" width="25" height="25"></img></a>
                </ul>
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="index.html" class="nav-link">Home</a></li>
                <li><a href="matches.html" class="nav-link">Matches</a></li>
                <li><a href="evenements.html" class="nav-link">Evenements</a></li>
                <li><a href="blog.html" class="nav-link">Blog</a></li>
                <li><a href="abonnements.html" class="nav-link">Abonnements</a></li>
                <li><a href="boutique.html" class="nav-link">Boutique</a></li>
                <li class="active"><a href="contact.html" class="nav-link">Profile</a></li>
                
                
                
              </ul>
            </nav>

            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                class="icon-menu h3 text-white"></span></a>
          </div>
        </div>
      </div>

    </header>

    <div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-9 mx-auto text-center">
            <h1 class="text-white">Welcome {{app.user.full_name}} !</h1>
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <form action="#">
            
                <div class="col-6 title-section">
          <h2 class="heading">General informations: </h2>
                </div>

              
              <div class="form-group">
                <li>Full Name: </li>
                <li class="form-control">{{app.user.full_name}}</li>
              </div>
              <div class="form-group">
                <li>Email: </li>
                <li class="form-control">{{app.user.email}}</li>
              </div>
              <div class="form-group">
                <li>Date Of Birth: </li>
                <li class="form-control">{{app.user.date_naiss | date('Y-m-d')}}</li>
              </div>
              <div class="form-group">
                <li>Address: </li>
                <li class="form-control">{{app.user.address}}</li>
              </div>
              {% if is_granted('ROLE_BOBO') %}
              <br></br>
              <div class="col-6 title-section">
          <h2 class="heading">Shop Manager : </h2>
                </div>
              <div class="form-group">
                <li>Tax registration number: </li>
                <li class="form-control">{{app.user.matr_fisc}}</li>
              </div>
              <div class="form-group">
                <li>Departement : </li>
                <li class="form-control">{{app.user.prod_category}}</li>
              </div>
              <div class="form-group">
                <li>Job title : </li>
                <li class="form-control">{{app.user.job_position}}</li>
              </div>
              {% endif %}
              <div class="form-group">
                <a href="{{ path('profile_update', {'id': app.user.Id}) }}" class="btn btn-primary py-3 px-5">  Update</a>
              </div>
            </form>  
          </div>
          <div class="col-lg-4 ml-auto">
            
            <ul class="list-unstyled">
              <li class="mb-2">
                <strong class="text-white d-block">Photo</strong>
                <img src="{{ asset('uploads/' ~ app.user.user_pic) }}" style="max-height: 300px">
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>


    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>News</h3>
              <ul class="list-unstyled links">
                <li><a href="#">All</a></li>
                <li><a href="#">Club News</a></li>
                <li><a href="#">Media Center</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">RSS</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>Tickets</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Online Ticket</a></li>
                <li><a href="#">Payment and Prices</a></li>
                <li><a href="#">Contact &amp; Booking</a></li>
                <li><a href="#">Tickets</a></li>
                <li><a href="#">Coupon</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>Matches</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Standings</a></li>
                <li><a href="#">World Cup</a></li>
                <li><a href="#">La Lega</a></li>
                <li><a href="#">Hyper Cup</a></li>
                <li><a href="#">World League</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="widget mb-3">
              <h3>Social</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Youtube</a></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="row text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="icon-heart"
                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div>
  <!-- .site-wrap -->
{% block js %}
  <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{asset('js/jquery-migrate-3.0.1.min.js')}}"></script>
  <script src="{{asset('js/jquery-ui.js')}}"></script>
  <script src="{{asset('js/popper.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <script src="{{asset('js/owl.carousel.min.js')}}"></script>
  <script src="{{asset('js/jquery.stellar.min.js')}}"></script>
  <script src="{{asset('js/jquery.countdown.min.js')}}"></script>
  <script src="{{asset('js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
  <script src="{{asset('js/aos.js')}}"></script>
  <script src="{{asset('js/jquery.fancybox.min.js')}}"></script>
  <script src="{{asset('js/jquery.sticky.js')}}"></script>
  <script src="{{asset('js/jquery.mb.YTPlayer.min.js')}}"></script>


  <script src="{{asset('js/main.js')}}"></script>
  {% endblock %}

  </body>
{% endblock %}